body {
    background-image: url("Papel_Comidas_Doces.png");
    background-size: cover;        /* cobre a tela inteira */
    background-position: center;   /* centraliza */
    background-repeat: no-repeat;  /* não repete */
    background-attachment: fixed;  /* fundo parado */

    margin: 0;
}

body {
    font-family: 'Winter Draw', cursive;;
    margin: 0;
    padding: 0;
    background-color: #95bcee;
    text-align: center;
    
}
header {
    background-color: #4d67ff;
    color: rgb(255, 255, 255);
    padding: 30px 20px;

}
.pratos_doces {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.pratos_doces img {
    width: 590px;
    height: 350px;      
    object-fit: cover;   
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.pratos_doces img:hover {
    transform: scale(1.05);
}
/* container das receitas */
.pratos_doces {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 70px;
}

/* card da receita */
.receita {
    position: relative;   /* permite posicionar o texto sobre a imagem */
    display: inline-block;
}

/* imagem padrão */
.receita img {
    width: 590px;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

/* zoom da imagem */
.receita:hover img {
    transform: scale(1.05);
}

/* título escondido */
.receita span {
    position: absolute;
    bottom: 15px;                 /* fica sobre a imagem embaixo */
    left: 50%;
    transform: translate(-50%, 10px); /* centraliza e começa deslocado */
    
    background: rgba(14, 16, 168, 0.6);
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 16px;

    opacity: 0;                   /* começa invisível */
    transition: 0.3s ease;        /* animação suave */
}

/* animação ao passar o mouse */
.receita:hover span {
    opacity: 1;
    transform: translate(-50%, 0);
}
.botao-voltar{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:white;
    color:#0e10a899;
    border-radius:20px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.botao-voltar:hover{
    background-color:#95bcee;
}
li a{
 text-decoration: none;
 color: #0e10a899;
}
li:hover {
    background-color: #95bcee;
}